@page
@model Kurs.Pages.Articles.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Изменить</h1>

<h4>Статья</h4>
<hr />
<script src="~/js/ckeditor/ckeditor.js"></script>
<div class="row">
    <div class="col">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Article.Id" />
            <div class="form-group">
                <label asp-for="Article.Title" class="control-label"></label>
                <input asp-for="Article.Title" class="form-control" />
                <span asp-validation-for="Article.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.Categoru" class="control-label"></label>
                <input asp-for="Article.Categoru" class="form-control" />
                <span asp-validation-for="Article.Categoru" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.Text" class="control-label"></label>
                @*<input type="text" width="600" asp-for="Article.Text" class="form-control" />*@
                <textarea asp-for="Article.Text" id="content"></textarea>
                <span asp-validation-for="Article.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Вернуться к списку статей</a>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var editor = CKEDITOR.replace('content');
    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
