@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Данная Справочно-информационная система предоставляет авторизованным пользователям доступ к информации (статьи/законы/полезная информация) о программах уничтожения остаточной информации</a>.</p>
</div>
