@page
@model SignInModel

@{
    ViewData["Title"] = "Главная";
}
<html>
<head>

</head>
<body>
    <h3>Вход</h3>
    <form method="post" asp-asp-page="Register">
        <table>
            <tr>
                <td>Имя пользователя</td>
                <td>
                    <input asp-for="@Model.account.UserName" />
                </td>
            </tr>
            <tr>
                <td>Пароль</td>
                <td>
                    <input type="password" asp-for="@Model.account.Password" />
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Авторизоваться" />
                    @*<input type="submit" value="Зарегистрироваться"</input>*@
                </td>
            </tr>
            @*<tr>
                <a class="nav-link text-dark" asp-page="/Accounts/SignUp">Зарегистрироваться</a>
            </tr>*@
                            

        </table>
        <a class="nav-link text-dark" asp-page="/Accounts/SignUp">Зарегистрироваться</a>
    </form>
</body>
</html>

