@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Добро пожаловать @HttpContext.Session.GetString("username")</h1>
    <p>Данная Справочно-информационная система предоставляет авторизованным пользователям доступ к информации (статьи/законы/полезная информация) о программах уничтожения остаточной информации</a>.</p>
</div>
